
.footer {
    border-top: 1px solid #fff;
    color: #fff;
    padding: 20px 0;
}


.social-icons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}


.icon {
    font-size: 24px;
    margin-right: 10px;
    color: rgb(252, 189, 54);
}


.linked {
    font-size: 30px;
    margin-right: 10px;
}


.github {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}


.firm {
    padding-top: 20px;
    margin-bottom: 0px;
}
